/*
schwarz         #000000
weiss           #ffffff
blau            #000C76 
orange          #FFCC00
orange hell     #FFE57E
grün            #00ff0d

grau hell       #F7F7F7
grau mittel     #E2E2E2 
grau dunkel     #D4D4D4

graublau        #4a4a4a
blaugrau        #4c6586
Weizenfarben    #f5deb3
gold            #b58024
*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 100px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #555;
}

main {
    margin-left: 25em;
    margin-right: 25em;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infolink:before {
    font-size: 1.4ex;
    line-height: 1.8ex;
    border-radius: 1.2ex;
    margin-right: 4px;
    padding: 1px;
    text-decoration: none;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4caf50;
    color: white;
}

a:link {
    color: #f5deb3;
    text-decoration: none;
}

a:visited {
    color: #f5deb3;
    text-decoration: none;
}

a:hover {
    color: #f5deb3;
    text-decoration: underline;
}

body {
    background-color: #4c6586;
    font-family: 'Quicksand';
}

li::before {
    content: '«';
    color: #f5deb3;
}

li::after {
    content: '»';
    color: #f5deb3;
}

ul.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4c6586;
}

p {
    font-family: 'Quicksand';
}

html {
    color: #000;
    background-image: 'background2.jpg';
    height: 100%;
    margin: 0;
    font-family: Quicksand;
}

#winter {
    border: 4px dotted #ffcc22;
    border-bottom-color: #bb8800;
    border-right-color: #bb8800;
    width: 400px;
    height: 300px;
    text-align: center;
    margin: auto;
    padding-top: 100px;
    background-color: #00ccff;
}


/* Schriftart : QUICKSAND */

@import url(Quicksand.ttf);

/* ADDITIONOL THINGS */


/*  */

.spinloader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#author {
    position: fixed;
    color: #3d454e;
    right: 60px;
    bottom: 10px;
    height: 10px;
    width: 50px;
}


/*  */


/* The Modal LOGIN (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}


/* Close button on hover */

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}


/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

#LocationButtonOff {
    position: absolute;
    bottom: 20px;
    height: 100px;
    left: 20px;
    width: 100px;
}

#LocationButtonOn {
    position: absolute;
    bottom: 20px;
    height: 100px;
    left: 20px;
    width: 100px;
}

.draggable {
    position: absolute;
    z-index: 9;
    text-align: center;
    background-color: #fff;
}

.header {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196f3;
    color: #fff;
}

#uhr {
    top: 70px;
    left: 20px;
    width: 10em;
}

#discordstatus {
    top: 70px;
    left: 190px;
    width: 270px;
}

#corolist {
    top: 70px;
    left: 470px;
    width: 250px;
    height: 411px;
}

#corolist>p>div {
    display: block;
}

#geolocation {
    top: 70px;
    left: 730px;
    width: 180px;
    height: 120px;
}

#geolocationmap {
    top: 0px;
    height: 270px;
    left: 0px;
    width: 440px;
}

#geolocationmapdrag {
    top: 172px;
    height: 310px;
    left: 20px;
    width: 440px;
}

#Datum1 {
    top: 202px;
    height: 140px;
    left: 730px;
    width: 180px;
}

#Bitcoindiv {
    top: 355px;
    height: 127px;
    left: 730px;
    width: 180px;
}

#Catdiv {
    top: 70px;
    height: 272px;
    left: 920px;
    width: 270px;
}

#BLdiv {
    top: 622px;
    height: 100px;
    left: 20px;
    width: 130px;
}

#UAdiv {
    top: 492px;
    height: 120px;
    left: 20px;
    width: 440px;
}

#Onlinediv {
    top: 492px;
    height: 120px;
    left: 470px;
    width: 250px;
}

#Platformdiv {
    top: 355px;
    height: 127px;
    left: 920px;
    width: 130px;
}

#Cookiediv {
    top: 355px;
    height: 127px;
    left: 1060px;
    width: 130px;
}

#Javadiv {
    top: 622px;
    height: 100px;
    left: 160px;
    width: 130px;
}

#weatherlist {
    top: 70px;
    left: 1200px;
    width: 250px;
    height: 411px;
}

#advicediv {
    top: 492px;
    height: 120px;
    left: 730px;
    width: 720px;
}

#cocktaildiv {
    top: 622px;
    height: 100px;
    left: 300px;
    width: 160px;
}

#witzdiv {
    top: 622px;
    height: 100px;
    left: 470px;
    width: 980px;
}

#billdiv {
    top: 70px;
    height: 168px;
    left: 1460px;
    width: 320px;
}

#bill {
    height: 168px;
    width: 320px;
}